body {
  margin: auto;
  background-color: #678160;
  color: whitesmoke;
}

button {
  padding: 10px 20px;
  margin: 10px;
  width: 30%;
  font-size: 32px;
  border: 1px solid #333;
  background-color: #3A7355;
  color: white;
  border-radius: 10px;
}

h1, h2 {
  text-align: center;
}

#komendanci {
  margin-left: 15%;
  margin-top: 10px;
  width: 20%;
  border: 5px solid whitesmoke; /* Fixed border syntax */
  float: left;
}

#pierwsze_jednostki {
  margin-left: 5%;
  margin-top: 10px;
  width: 20%;
  border: 5px solid whitesmoke; /* Fixed border syntax */
  float: left;
}
.istniejace_jednostki{
  margin-left: 30%;
  width: 40%;
  border: 5px solid whitesmoke;;
  clear: both;
}
#zamkniete_jednosktki {
  margin-left: 5%;
  margin-top: 10px;
  width: 20%;
  border: 5px solid whitesmoke; /* Fixed border syntax */
  float: left;
  margin-bottom: 20px;
}
footer {
  clear: both;
  margin-left: 40%;
  padding-top: 30px;
}
#historia{

  position: absolute;
  left: 22%;
  top: 30%;
}
#historia button{
  width: 40%;
}

@media (max-width: 768px) {
  button {
    width: 50%;
    margin-left: 25%;
    font-size: 28px; /* Reduced font size for smaller screens */
  }

  #komendanci,
  #pierwsze_jednostki, #zamkniete_jednosktki{
    width: 300px;
   /*margin-left: 5%; */ 
    margin-right: 5%;
  }
  #istniejace_jednostki{
    /*margin-left: 5%; */ 
    width: 300px;
  }
}

.flashcard-container:hover .flashcard {
  transform: rotateY(180deg);
}

.flashcard-container, .question, .answer {
  width:50vw;
  height:30vw;
}

.flashcard {
	transition: 0.5s;
	transform-style: preserve-3d;
}

.question {
	z-index: 5;
}

.answer {
	transform: rotateY(180deg);
}

.question, .answer{
  backface-visibility: hidden;
  border:1px solid #aaa;
  border-radius:10px 10px;
  margin:auto;
  text-align:center;
	position: absolute;
	top: 0;
	left: 0;
  
}
.content{
  padding-top:30%;
  font-size:40pt;
}
