body{
  margin: auto;
  background-color: #618358;
  color:white;
}
button {
  padding: 10px 20px;
  margin: 10px;
  width: 30%;
  font-size: 32px;
  border: 1px solid #333;
  background-color: #326647;
  color: white;
  border-radius: 10px; 
   
}

@media(max-width: 480px){
  button{
    width: 50%;
    margin-left: 25%;
  }
}

